/* =============
   Start of reset 
   ============= */
/* 
A reset by:
https://piccalil.li/blog/a-more-modern-css-reset/
Also made some adjustments for my own needs  
*/
:root {
  --accent-red: hsl(0, 78%, 62%);
  --accent-cyan: hsl(180, 62%, 55%);
  --accent-orange: hsl(34, 97%, 64%);
  --accent-blue: hsl(212, 86%, 64%);
  --neutral-dark-blue: hsl(234, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
  --neutral-light-gray: hsl(0, 0%, 98%);
}

/* Box sizing rules */
/* Remove initial margins */
/* Apply font smoothing */
*,
*::before,
*::after {
  /*Box model stuff*/
  margin: 0;
  /*Miscellaneous*/
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Prevent font size inflation */
/* Simplifies rem calculations */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%;
}
@media (max-width: 825px) {
  html {
    font-size: 100%;
  }
}

/* Set core body defaults */
body {
  /*Box model stuff*/
  min-height: 100vh;
  /*Typography stuff*/
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: var(--neutral-grayish-blue);
  background: var(--neutral-light-gray);
}

/* Remove list styles */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  color: var(--neutral-dark-blue);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* =============
   End of reset 
   ============= */
/* =============
   Header
   ============= */
.header {
  max-width: 44%;
  text-align: center;
  margin-block-end: 3em;
}
@media (max-width: 950px) {
  .header {
    margin-block-end: 2em;
  }
}
@media (max-width: 825px) {
  .header {
    max-width: 90%;
    margin-block-end: 1em;
  }
}
@media (max-width: 600px) {
  .header {
    max-width: 100%;
    margin-block-start: 1em;
    margin-block-end: 3em;
  }
}
.header__title {
  font-weight: 600;
  font-size: clamp(1.9rem, 1rem + 2vw, 4rem);
  margin-block-end: 1rem;
}
.header__subtitle {
  font-weight: 200;
  font-size: clamp(1.9rem, 1rem + 2vw, 4rem);
}
.header__text {
  font-size: clamp(1.2rem, 0.2rem + 1vw, 1.7rem);
  font-weight: 200;
  text-wrap: pretty;
}
@media (max-width: 600px) {
  .header__text {
    text-wrap: balance;
    font-weight: 400;
  }
}

/* =============
   Four Card Grid
   ============= */
.four-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin-block-end: 2em;
  width: 90%;
  font-size: 80%;
}
@media (max-width: 950px) {
  .four-card {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .four-card {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
.four-card .card {
  box-shadow: 1px 10px 15px 5px hsla(212, 86%, 64%, 0.14);
  width: 100%;
  padding: 2em;
  border-radius: 8px;
}
@media (max-width: 950px) {
  .four-card .card {
    padding: 1.2em;
  }
}
@media (max-width: 600px) {
  .four-card .card {
    padding: 1.5em;
  }
}
.four-card .card__title {
  margin-block-end: 0.5em;
  font-size: clamp(1rem, 0.2rem + 5vw, 4rem);
}
@media (max-width: 950px) {
  .four-card .card__title {
    font-size: clamp(0.5rem, 0.4rem + 2vw, 3rem);
  }
}
@media (max-width: 600px) {
  .four-card .card__title {
    font-size: clamp(1rem, 0.2rem + 5vw, 4rem);
  }
}
.four-card .card__text {
  margin-block-end: 2em;
  width: 100%;
  font-size: clamp(1rem, 0.2rem + 3vw, 4rem);
}
@media (max-width: 950px) {
  .four-card .card__text {
    font-size: clamp(0.5rem, 0.4rem + 1vw, 3rem);
  }
}
@media (max-width: 600px) {
  .four-card .card__text {
    font-size: clamp(1rem, 0.2rem + 3vw, 4rem);
    width: 90%;
    margin-block-end: 3em;
  }
}
.four-card .card__img {
  margin-left: auto;
}
@media (max-width: 950px) {
  .four-card .card__img {
    width: 4rem;
  }
}
@media (max-width: 600px) {
  .four-card .card__img {
    width: 6rem;
  }
}
.four-card .card--1, .four-card .card--4 {
  border-top: 4px solid var(--accent-cyan);
  grid-row: span 2;
  height: calc(50% - 1em);
  justify-self: center;
}
@media (max-width: 950px) {
  .four-card .card--1, .four-card .card--4 {
    height: 100%;
    grid-row: span 1;
  }
}
@media (max-width: 600px) {
  .four-card .card--1, .four-card .card--4 {
    height: 100%;
  }
}
.four-card .card--2 {
  border-top: 4px solid var(--accent-red);
}
.four-card .card--3 {
  border-top: 4px solid var(--accent-orange);
  order: 1;
}
@media (max-width: 950px) {
  .four-card .card--3 {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .four-card .card--3 {
    order: 0;
  }
}
.four-card .card--4 {
  border-top: 4px solid var(--accent-blue);
}
@media (max-width: 600px) {
  .four-card .card--4 {
    text-wrap: balance;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  text-wrap: balance;
}
@media (max-width: 600px) {
  .attribution {
    font-size: 1rem;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  padding-inline: 4em;
  padding-block-start: 4em;
  padding-block-end: 2em;
}
@media (max-width: 950px) {
  .container {
    padding-inline: 1em;
    padding-block-start: 2em;
    padding-block-end: 2em;
  }
}
@media (max-width: 600px) {
  .container {
    padding-inline: 1.5em;
    padding-block-start: 2em;
    padding-block-end: 2em;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
