/* =============
   Header
   ============= */

.header {
  max-width: 44%;
  text-align: center;
  margin-block-end: 3.5em;

  @media (max-width: 1350px) {
    max-width: 60%;
    margin-block-end: 5em;
  }

  @media (max-width: 1200px) {
    max-width: 70%;
    margin-block-end: 2em;
  }

  @media (max-width: 850px) {
    max-width: 90%;
    margin-block-end: 1em;
  }

  @media (max-width: 600px) {
    max-width: 100%;

    margin-block-start: 1em;
    margin-block-end: 3em;
  }

  &__title {
    font-weight: 600;
    font-size: clamp(1.9rem, 1rem + 2vw, 4rem);
    margin-block-end: 1rem;

    @media (max-width: 1350px) {
      font-size: 8rem;
    }

    @media (max-width: 1200px) {
      font-size: clamp(1.9rem, 1rem + 2vw, 2.5rem);
    }
  }

  &__subtitle {
    font-weight: 200;
    font-size: clamp(1.9rem, 1rem + 2vw, 4rem);

    @media (max-width: 1350px) {
      font-size: 8rem;
    }

    @media (max-width: 1200px) {
      font-size: clamp(1.9rem, 1rem + 2vw, 2.5rem);
    }
  }

  &__text {
    font-size: clamp(1.2rem, 0.2rem + 1vw, 1.7rem);
    font-weight: 200;

    text-wrap: pretty;

    @media (max-width: 1350px) {
      font-size: 5rem;
    }

    @media (max-width: 1200px) {
      font-size: clamp(1.2rem, 0.2rem + 1vw, 1.7rem);
    }

    @media (max-width: 600px) {
      text-wrap: balance;
      font-weight: 400;
    }
  }
}

/* =============
   Four Card Grid
   ============= */

.four-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
  grid-template-rows: 1fr 1fr;
  // background-color: var(--accent-cyan);
  align-items: center;
  margin-block-end: 4em;

  width: 90%;

  font-size: 80%;

  @media (max-width: 1200px) {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;

    margin-block-end: 2em;
  }

  @media (max-width: 600px) {
    width: 100%;

    grid-template-columns: 1fr;
  }

  .card {
    box-shadow: 1px 10px 15px 5px hsla(212, 86%, 64%, 0.14);

    width: 100%;

    padding: 4em;
    border-radius: 8px;

    @media (max-width: 1200px) {
      padding: 1.2em;
    }

    @media (max-width: 600px) {
      padding: 1.5em;
    }

    &__title {
      margin-block-end: 0.5em;
      font-size: clamp(1rem, 0.2rem + 5vw, 6rem);

      @media (max-width: 1200px) {
        font-size: clamp(0.5rem, 0.4rem + 2vw, 1.5rem);
      }

      @media (max-width: 600px) {
        font-size: clamp(1rem, 0.2rem + 5vw, 1.7rem);
      }
    }

    &__text {
      margin-block-end: 2em;
      width: 100%;
      font-size: clamp(1rem, 0.2rem + 3vw, 4rem);

      @media (max-width: 1200px) {
        font-size: clamp(0.5rem, 0.4rem + 1vw, 3rem);
      }

      @media (max-width: 600px) {
        font-size: clamp(1rem, 0.2rem + 3vw, 4rem);
        width: 90%;
        margin-block-end: 3em;
      }
    }

    &__img {
      margin-left: auto;

      @media (max-width: 1200px) {
        width: 4rem;
      }

      @media (max-width: 600px) {
        width: 6rem;
      }
    }
  }

  .card--1 {
    border-top: 4px solid var(--accent-cyan);
    grid-row: span 2;

    height: calc(50% - 1em);
    justify-self: center;

    @media (max-width: 1200px) {
      height: 100%;
      grid-row: span 1;
    }

    @media (max-width: 600px) {
      height: 100%;
    }
  }

  .card--2 {
    border-top: 4px solid var(--accent-red);
  }

  .card--3 {
    border-top: 4px solid var(--accent-orange);

    order: 1;

    @media (max-width: 1200px) {
      height: 100%;
    }

    @media (max-width: 600px) {
      order: 0;
    }
  }

  .card--4 {
    @extend .card--1;

    border-top: 4px solid var(--accent-blue);

    @media (max-width: 600px) {
      text-wrap: balance;
    }
  }
}
