.header {
  max-width: 44%;
  text-align: center;

  @media (max-width: 825px) {
    max-width: 90%;
  }

  &__title {
    font-weight: 600;
    font-size: clamp(0.8rem, 1rem + 1.6vw, 4rem);
    margin-block-end: 1rem;
  }

  &__subtitle {
    font-weight: 200;
    font-size: clamp(0.8rem, 1rem + 1.6vw, 4rem);
  }

  &__text {
    font-size: clamp(0.8rem, 0.2rem + 1vw, 1.7rem);
    font-weight: 200;

    text-wrap: pretty;
  }
}
