.attribution {
  font-size: 11px;
  text-align: center;

  text-wrap: balance;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  padding-inline: 4em;
  padding-block-start: 6em;
  padding-block-end: 4em;

  @media (max-width: 1200px) {
    padding-inline: 2em;
    padding-block-start: 1.5em;
    padding-block-end: 2em;
  }

  @media (max-width: 950px) {
    padding-inline: 1em;
    padding-block-start: 2em;
    padding-block-end: 2em;
  }

  @media (max-width: 600px) {
    padding-inline: 1.5em;
    padding-block-start: 2em;
    padding-block-end: 2em;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
